


/* MAIN */
.category .main {
    display: grid;
    grid-template-columns: 17% 83%;
    column-gap: 4rem;
}

.category .main .left .choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.7rem;
    border-bottom: 0.1rem solid #E7E8ED;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #8F91A3;
}

.category .main .left .choice span:nth-of-type(2) {
    height: 0.1rem;
    width: 0.7rem;
    background-color: #8F91A3;
}

.category .main .left .color-c {
    margin-bottom: 1.5rem;
}

.category .main .left .colors {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;
    column-gap: 1rem;
    row-gap: 2.5rem;
}

.category .main .left .colors .radio-wrap {
    cursor: pointer;
    min-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.7rem;
}

.category .main .left .colors .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.category .main .left .colors .radio {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    /* margin: 1.5rem; */
}

.category .main .left .colors .ring {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category .main .left .colors .ring div {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
}

.category .main .left .others {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #141517;
}

.category .main .left .filter {
    margin-bottom: 1.5rem;
}

.category .main .left .materials {
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}

.category .main .left .materials .lists {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1rem;
    justify-content: flex-end;
}

.category .main .left .materials .opt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.category .main .left .materials .opt div{
    height: 1rem;
    width: 1rem;
    border: 0.1rem solid #DBDBDB;
}

.category .main .left .materials .opt span {
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: rgba(20, 21, 23, 0.594316);
}

.category .main .left .euro input{
    width: 100%;
}

.category .main .left .euro .range{
    display: flex;
    justify-content: space-between;
}

.category .main .left .price {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.category .main .left .clear {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.83333px;
    color: #87A2FB;
}

.category .main .right .head {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category .main .right .head span{
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: #2C2E3F;
}

.category .main .right .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category .main .right .single-item{
    display: flex;
    column-gap: 2rem;
    margin-bottom: 6rem;
}

.category .main .right .single-item .texts {
    position: relative;
}

.category .main .right .single-item .color{
    height: 11rem;
    width: 15rem;
    cursor: pointer;
    position: relative;
}

.category .main .right .single-item .price{
    position: absolute;
    top: -0.4rem;
    right: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.category .main .right .single-item h1{
    margin-top: -0.4rem;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #141517;
}

.category .main .right .single-item p{
    font-weight: 400;
    font-size: 13px;
    margin-top: 0.2rem;
    line-height: 18px;
    color: rgba(20, 21, 23, 0.49782);
}

.category .main .right .single-item span{
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.379167px;
    color: rgba(44, 46, 63, 0.697549);
}

.category .main .right .single-item h3{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2C2E3F;
}

.category .main .right .btn {
    width: 94%;
    display: flex;
    justify-content: center;
}

.category .main .right .show-more{
    border: none;
    background-color: #87A2FB;
    /* width: 15rem;
    height: 4rem; */
    padding: 1.5rem 7rem;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}

/* DARKEN */
.category .color-wraper {
    position: relative;
    height: fit-content;
}

.category .color-wraper:hover .darken {
    height: 100%;
}
.category .color-wraper:hover .like-cart {
    display: block;
}


@media (max-width: 1080px) {
    .category .main {
        display: block;
    }
    .category .main .left {
        display: none;
    }
    .category .main .right .single-item{
        flex-direction: column;
        gap: 2rem;
    }
    .category .main .right .content {
        /* column-gap: 2rem; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .category .main .right .single-item .price{
        /* right: 7.5rem; */
    }
}

@media (max-width: 768px) {
    .category .main .right .head {
        width: 90%;
        justify-content: space-around;
    }
    .category .main .right .show-more {
        padding: 1.5rem 4.5rem;
    }
}

@media (max-width: 480px) {
    .category .main .right .head{
        width: 100%;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    .category .main .right .content {
        display: block;
    }
    .category .main .right .single-item .color{
        width: 100%;
        height: 16rem;
    }
    .category .main .right .single-item {
        margin-bottom: 2rem;
    }
    .category .main .right .btn {
        width: 100%;
    }
    .category .main .right .show-more {
        font-size: 10px;
        padding: 1rem 2rem;
        width: 100%;
    }
}


