

.darken svg {
    height: 100%;
    width: 100%;
}

.darken .icon-wrap {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    column-gap: 0.5rem;
    z-index: 10;
    display: none;

}
.darken .like {
    height: 2rem;
    width: 2rem;
}
.darken .cart-icon {
    height: 2rem;
    width: 2rem;
}