body {
    box-sizing: border-box;
    background-color: #FFF;
}

.container {
    width: 87%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}


a {
    text-decoration: none;
}
/* img {
    height: 100;
} */

@media (max-width: 480px) {
    .container {
        width: 100%;
    }
}